<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodieee | Home to deliciousness</title>

    <!-- Favicon link -->
    <link
      rel="icon"
      href="/public/assets/foodieee-favicon.ico"
      type="image/x-icon"
    />

    <!-- Google fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/styles/styles.css" />

    <!-- JQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Custom JS Script -->
    <script src="/src/js/script.js" defer></script>

    <!-- Bootstrap Icons CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Bootstrap JS CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg position-sticky top-0 z-10 bg-white border-bottom p-4"
    >
      <div class="container">
        <a class="navbar-brand me-0 d-flex gap-2" href="#">
          <img
            width="30"
            src="/public/assets/foodieee-logo.svg"
            alt="Foodieee logo"
          />

          <h1 class="font-accent text-primary mb-0">Foodieee</h1>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse collapse mt-3 mt-lg-0"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mx-auto d-flex gap-2 gap-lg-5 mb-3 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link active" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Order</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Reserve</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

          <ul
            class="nav align-items-center d-flex flex-column flex-lg-row gap-4 gap-lg-2"
          >
            <li class="nav-item align-self-start">
              <button class="cart-icon-btn btn btn-link d-flex gap-2">
                <i class="cart-icon bi bi-cart"></i>
                <span class="cart-icon-text d-lg-none">Cart</span>
              </button>
            </li>

            <li class="nav-item align-self-start">
              <button class="btn btn-lg btn-primary mb-0">Login</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of Navbar -->

    <header class="p-5">
      <div
        class="header container d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center gap-5"
      >
        <div
          class="header__desc d-flex flex-column align-items-center align-items-lg-start gap-2"
        >
          <h1 class="heading-primary text-center text-lg-left">
            Best restaurant in <span class="text-primary">Town.</span>
          </h1>

          <p class="text-center text-lg-left">
            We provide best food in Town with Home delivery as well as Dine in!
          </p>

          <div class="d-flex gap-3">
            <button type="button" class="btn btn-lg btn-primary">Order</button>
            <button type="button" class="btn btn-lg btn-primary-transparent">
              Reserve
            </button>
          </div>
        </div>

        <img src="/public/assets/header-img.png" alt="" class="header__img" />
      </div>
    </header>
    <!-- End of Header -->

    <section class="features bg-primary">
      <h2 class="text-center heading-secondary color-white mb-5">Features</h2>

      <div
        class="features__body container d-flex justify-content-between align-items-center flex-wrap px-5"
      >
        <div class="card text-center p-5">
          <i
            class="mb-3 bi bi-calendar-date-fill color-primary-light heading-secondary"
          ></i>
          <h3 class="heading-tertiary text-bold">Reserve Tables</h3>
          <p>Quickly book tables for your dining convenience</p>
        </div>

        <div class="card text-center p-5">
          <i
            class="mb-3 bi bi-phone-fill color-primary-light heading-secondary"
          ></i>
          <h3 class="heading-tertiary text-bold">Order Online</h3>
          <p>Effortlessly access menus and order via your phone</p>
        </div>

        <div class="card text-center p-5">
          <i
            class="mb-3 bi bi-alarm-fill color-primary-light heading-secondary"
          ></i>
          <h3 class="heading-tertiary text-bold">Time Saving</h3>
          <p>Smoothest process of reservations and orders</p>
        </div>

        <div class="card text-center p-5">
          <i
            class="mb-3 bi bi-heart-fill color-primary-light heading-secondary"
          ></i>
          <h3 class="heading-tertiary text-bold">Diverse Menu</h3>
          <p>Discover varied menu for all taste preferences</p>
        </div>
      </div>
    </section>
  </body>
</html>
