<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodieee | a home of deliciousness</title>

    <!-- Favicon link -->
    <link
      rel="icon"
      href="/public/assets/foodieee-favicon.ico"
      type="image/x-icon"
    />

    <!-- Google fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/styles/styles.css" />

    <!-- JQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Custom JS Script -->
    <script src="/src/js/script.js" defer></script>
  </head>
  <body>
    <h1><%= title%></h1>

    <p><%= content %></p>

    <img src="/public/assets/foodieee-logo.svg" alt="foodieee logo" />
  </body>
</html>
