$primary: #f57526;
$light: #f1f2f6;
$dark: #2b2420;
$gray: #817b77;
$white: #ffffff;
$border-radius: 1rem;

@import '../../../node_modules/bootstrap/scss/bootstrap';

.container {
  max-width: 114rem;
}

// BASE STYLES
html {
  font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 1.8rem;
}

.btn {
  font-size: inherit;
}

h1 {
  font-family: 'Lobster', sans-serif;
}

// UTILITIES
// Text sizes
.heading-primary {
  font-size: 6rem;
}

// Colors
.color-primary {
  color: $primary !important;
}

// Fonts
.font-accent {
  font-family: 'Lobster', sans-serif;
}

// Buttons
.btn-lg {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
}

.btn-primary {
  color: #f1f2f6 !important;

  &-transparent {
    background-color: rgba($primary, 20%);
    color: $primary;

    &:hover {
      background-color: rgba($primary, 25%);
      color: $primary;
    }
  }
}

/* Custom Styles */
// Navbar
.cart-icon {
  padding: 0.5rem 0.75rem;
  font-size: 1.8rem;
  background-color: $white;
  border-radius: 50%;

  &-btn {
    text-decoration: none !important;
  }
}

// Header
.header {
  padding: calc(1rem + 2vw) 2.5vw;

  &__img {
    width: calc(15rem + 12.5vw);
  }
}

// Mediaqueries
@media screen and (max-width: 992px) {
  .cart-icon {
    padding: 0 !important;

    &-btn {
      padding: 0 !important;
    }
  }

  .heading-primary {
    font-size: 4.5rem !important;
  }
}
